@inject IFamilyService FamilyService;

@page "/familyView"
@using DNPAssigment1.Models
@using DNPAssigment1.Data


<div class="row">
        <div class="col-1">
            Address:
        </div>
        <div class="col-2">
            <b>@selectedFam.Address</b>
        </div>
    </div>
    <h2>Adults:</h2>
@if (selectedFam.Adults == null)
{
    <p>Loading...</p>
}
else if (!selectedFam.Adults.Any())
{
    <p>There are no adults in the family</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>F. Name</th>
            <th>L. Name</th>
            <th>ID</th>
            <th>Hair Color</th>
            <th>Eye Color</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Job</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var adult in selectedFam.Adults)
        {
            <tr>
                <td>@adult.FirstName</td>
                <td>@adult.LastName</td>
                <td>@adult.Id</td>
                <td>@adult.HairColor</td>
                <td>@adult.EyeColor</td>
                <td>@adult.Age</td>
                <td>@adult.Weight</td>
                <td>@adult.Height</td>
                <td>@adult.Job</td>
            </tr>
        }
        </tbody>
    </table>
}
    <h2>Children:</h2>
@if (selectedFam.Children == null)
{
    <p>Loading...</p>
}
else if (!selectedFam.Children.Any())
{
    <p>There are no children in the family</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>F. Name</th>
            <th>L. Name</th>
            <th>ID</th>
            <th>Hair Color</th>
            <th>Eye Color</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Interests</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var child in selectedFam.Children)
        {
            <tr>
                <td>@child.FirstName</td>
                <td>@child.LastName</td>
                <td>@child.Id</td>
                <td>@child.HairColor</td>
                <td>@child.EyeColor</td>
                <td>@child.Age</td>
                <td>@child.Weight</td>
                <td>@child.Height</td>
                <td>@child.Interests.ToArray().ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}
    <h2>Pets:</h2>
    @if (selectedFam.Pets == null)
    {
        <p>Loading...</p>
    }
    else if (!selectedFam.Pets.Any())
    {
        <p>There are no pets in the family</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Species</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pet in selectedFam.Pets)
            {
                <tr>
                    <td>@pet.Species</td>
                    <td>@pet.Name</td>
                    <td>@pet.Age</td>
                </tr>
            }
            </tbody>
        </table>
    }

@code {
    Family selectedFam { get; set; }

    protected async override Task OnInitializedAsync()
    {
        selectedFam = FamilyService.getSelectedFamily();
    }
}